.main {
    text-align: center;
    width: 40%;
}
.api_btn{
    background: rgba(143, 141, 138,0.2);
    border: none;
    outline: none;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 10px;
    color: #d2c9bc;
    font-weight: 200;
}

@media screen and (max-width: 770px){
    .main {
        width: auto;
    }
}