.main {
    border-radius: 10px;
    border: 1px solid rgba(143, 141, 138, 0.5);
    padding: 0px 20px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    color: #d2c9bc;
    font-weight: 200;
    display: flex;
    align-items: center;
    font-family: 'Poboto';
}

.phone {
    margin: 0 10px;
    font-weight: 400;
    font-family: 'Poboto';
}

.del_btn {
    background: none;
    border: none;
    outline: none;
    color: #bab8b4;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
    transform: rotateZ(45deg);
}

.del_btn:hover {
    transform: scale(1.2) rotateZ(45deg);
    transition: 100ms linear;
}