.main {

}
.form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(143, 141, 138,0.2);
    padding: 0 20px;
    border-radius: 10px;
}
.input_wrapper {
    display: flex;
    flex-direction: column;
}

.input {
    background: none;
    border: none;
    outline: none;
    margin: 10px 0;
    color: #d2c9bc;
}
.input::placeholder{
    color: #8f8d8a;
    font-weight: 200;
}
.del_btn{
    background: none;
    border: none;
    outline: none;
    color: #bab8b4;
    font-weight: 200;
    font-size: 30px;
    text-align: center;
    padding-bottom: 5px;
}
.del_btn:hover{
    transform: scale(1.2);
    transition: 100ms linear;
}